/build.linux/
/opencv_*/
/ffmpeg.module/
/libvpx.module/
/liblame/
/zlib-*/
/v4l-utils/
/alsa-lib/
/jpeg8d/
/libglob/
/x264/
/build.vs2013/
/lame.module
/opencv.module
/zlib.module
/x264.module
/alsa-lib.module
/build.linux64
/libjpeg-turbo.module
/libglob.module
/v4l-utils.module
/testdata/big buck bunny.mkv
/testdata/big buck bunny.ts
/testdata/big buck bunny.webm
/build.android
/build.vs2015
/.vscode
/node_modules
/build.sources
/native_configuration.json
/npm-debug.log.*
/build